/* Por Bruno Bonavigo, 2023 */
/* APS UNIP - Marquês */
/* Membros do grupo: Bruno Bonavigo, Aluísio, Luís Rogério */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	--fundo-pagina: #FFF;
	--fundo-barra: #00009a;
	--fundo-footer: #00009a;
	--fonte: 'Roboto';
}

body {
	min-height: 100vh;
	font-family: var(--fonte);
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	height: 60px;
	background-color: var(--fundo-barra);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 426px) {
	.parte-esquerda {
		width: 50%;
	}

	.parte-direita {
		display: flex;
		width: 50%;
	}
}

@media (max-width: 425px) {
	.parte-esquerda {
		width: 100%;
	}
	
	.parte-direita {
		display: none;
		width: 0;
	}
}

.parte-esquerda {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 1em;
}

.parte-esquerda img {
	height: 40px;
	width: 30px;
}

.parte-esquerda h1 {
	font-size: 1.25em;
	margin-left: 0.5em;
	color: #FFF;
	font-weight: bold;
}

.parte-direita {
	align-items: center;
	justify-content: flex-end;
	margin: 1em;
}

.parte-direita a {
	font-size: 1.25em;
	text-decoration: none;
	color: #FFF;
	margin-right: 0.5em;
}

.artigo-apresentacao {
	margin: auto 1em;
}

.artigo-apresentacao h2 {
	margin: 1em 0 0.5em 0;
}

.artigo-apresentacao p {
	margin: 0.5em 0;
}

footer {
	margin-top: auto;
	display: flex;
	align-items: center;
	padding: 1em;
	background-color: var(--fundo-barra);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer p {
	margin: 0;
	font-size: 1.25em;
	color: #FFF;
	text-align: center;
}